@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#wrapper{
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.navbar{
    height: 65px;
    background-color: rgb(138, 150, 229);
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.icon{
    font-size: 3rem;
    color: rgb(138, 150, 229);
    margin-left: 20px;
}

.icon:hover{
    cursor: pointer;
}

.navtext{
    border: 2px solid white;
    border-radius: 30px;
    padding: 0.5rem 1.8rem;
    margin-right: 20px;
    transition:0.5s;
}

.navtext:hover{
    cursor: pointer;
    background-color: rgb(34, 53, 228);
}

.login{
    max-width: 680px;
    margin: 2.5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

.upper-part{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.arrow{
    font-size: 2rem;
}

.arrow:hover{
    cursor: pointer;
    font-weight: bold;
}

#lang{
    border: none;
    font-size: 17px;
}

#lang:hover{
    cursor: pointer;
    font-weight: bold;
}

.login h1{
    font-size: 2.1rem;
    font-weight: 900;
    letter-spacing: 1px;
    color: rgb(138, 150, 229);
}

form{
    position: relative;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(138, 150, 229);
}

.input-field{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    margin-bottom: 20px;
    height: 30px;
}

input:focus{
    outline: none;
}

h2{
    font-size: 17px;
    font-weight: 700;
    color: rgb(3, 65, 89);
}

h2:hover{
    cursor: pointer;
    color: darkgreen;
    font-weight: bolder;
}

#btn{
    width: 30%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background-color: rgb(9, 21, 49);
    color: white;
    margin: 15px auto;
    transition: all 200ms linear;
}

#btn:hover{
    cursor: pointer;
    transform: scale(1.08);
}

@media (max-width: 680px) {
    .login{
        margin: 2.5rem 0;
    }
}